* {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
}

:root {
    --main-color: #ffffff;
    --bg-color: #a9321d;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #fff;
    background: var(--bg-color);
}


/* navbar */

nav {
    padding: 6px;
    width: 100%;
    height: 60px;
    display: flex;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
    justify-content: right;
    background: var(--bg-color);
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--main-color);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

nav .fa-solid {
    display: none;
}


/* --------------------------Projects Header---------------------------- */

.header {
    position: relative;
    text-align: center;
    color: white;
    height: 80vh;
}

.header img {
    display: block;
    width: 70%;
    margin: 0 10%;
    height: auto;
    position: relative;
    top: 50px;
}

.header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    letter-spacing: 3px;
}

#projects {
    padding: 0 12rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-bottom: 60px;
}

.card {
    /* margin: 10px; */
    flex-basis: 25%;
    background-color: var(--main-color);
    background-image: linear-gradient(to top left, #ffffff00, #ffffff);
    filter: blur(42);
    border-radius: 10px;
}

.img-part img {
    width: 100%;
}

.para-part {
    padding: 30px;
    font-size: 16px;
    color: var(--bg-color);
}

.title {
    color: var(--bg-color);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
}

.button {
    background-color: var(--bg-color);
    position: relative;
    margin: auto;
    display: flex;
    border: 2px solid var(--bg-color);
    border-radius: 15px;
    padding: 5px 20px;
    margin-top: 20px;
    cursor: pointer;
}

.button a {
    text-decoration: none;
    color: #fff;
}

.fa-solid {
    margin: auto 4px;
}

.card:hover {
    transform: scale(1.05, 1.05);
    transition: 0.4s;
}

.button:hover {
    background-color: var(--bg-color);
    text-decoration: underline;
}

#footer {
    background: #ffffff16;
    padding: 10px;
    justify-content: center;
    text-align: center;
    font-size: small;
    width: 100%;
}


/* --------------media query------------------- */

@media only screen and (max-width: 1364px) {
    #projects {
        padding: 0 4rem;
    }
}

@media only screen and (max-width: 1024px) {
    .grid {
        grid-gap: 20px;
    }
    .header img {
        width: 80%;
        top: 10%;
    }
}

@media only screen and (max-width: 698px) {
    nav ul li {
        margin: 4px 8px;
    }
    nav ul li a {
        font-size: 14px;
    }
    .header img {
        width: 100%;
        top: 20%;
    }
}

@media only screen and (max-width:526px) {
    #footer {
        font-size: 10px;
        letter-spacing: 0.5px;
    }
    .header h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 50px;
        letter-spacing: 3px;
    }
    .header img {
        width: 100%;
        top: 20%;
    }
}

@media only screen and (max-width:375px) {
    nav {
        background-color: var(--main-color);
        height: 50px;
    }
    nav .fa-solid {
        display: block;
        font-size: 25px;
        color: var(--bg-color);
    }
    nav ul {
        position: fixed;
        top: 0;
        right: -200px;
        background-color: var(--main-color);
        opacity: 0.97;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li {
        display: block;
        margin: 25px;
    }
    nav ul li a {
        color: var(--bg-color);
        font-weight: 550;
    }
    nav ul .fa-solid {
        position: absolute;
        top: 13px;
        right: 28px;
        cursor: pointer;
    }
}