* {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
}

:root {
    --main-color: #ff775f;
    --bg-color: #a9321d;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #fff;
    background: var(--bg-color);
}

#header {
    background-image: url("./assets/mohitbanner.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    padding: 10px 10%;
}


/* navbar */

nav {
    padding: 6px;
    width: 100%;
    height: 60px;
    display: flex;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
    justify-content: right;
    background: var(--bg-color);
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

nav .fa-solid {
    display: none;
}

.header-text {
    margin-top: 4%;
    padding: 10px 15%;
    font-size: 30px;
    color: black;
}

.header-text h1 {
    margin-top: 16%;
    font-style: normal;
    font-size: 4rem;
    line-height: 60px;
    font-weight: 700;
}

.header-text span {
    color: var(--bg-color);
}

.btn {
    width: 240px;
    border: 0px;
    height: 50px;
    border-radius: 8px;
    margin-top: 2rem;
    border: solid var(--bg-color) 4px;
    background-color: #ffffff00;
    color: var(--bg-color);
    font-size: 24px;
    font-weight: bolder;
    cursor: pointer;
}

.btn:hover {
    border: solid var(--bg-color) 4px;
    background-color: var(--bg-color);
    color: white;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


/* ----------------------about me-------------------  */

#about {
    padding: 80px 10%;
    margin-bottom: 40px;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 50px 0;
}

.about-col1 {
    flex-basis: 35%;
}

.about-col1 img {
    width: 100%;
}

.about-col2 {
    flex-basis: 60%;
}

h3 {
    font-weight: 500;
    font-size: 50px;
    line-height: 55px;
}

h3 span {
    color: var(--main-color);
}

#hello {
    line-height: 30px;
    letter-spacing: 0.02em;
    font-size: 24px;
}

.about-col2 p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    font-weight: 500;
}

.parts {
    display: flex;
    margin: 20px 0 40px;
}

.sub-part {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.sub-part::after {
    content: '';
    width: 0;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.sub-part.active-link::after {
    width: 60%;
}

.sub-content ul li {
    list-style: none;
    margin: 10px 0;
}

.sub-content ul li span {
    color: var(--main-color);
    font-weight: 600;
}

.sub-content {
    display: none;
}

.sub-content.active-content {
    display: block;
}


/* contact  */

.contact-left {
    flex-basis: 48%;
}

.contact-right {
    flex-basis: 50%;
}

.contact-right input,
textarea {
    background-color: #e5e5e5;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #fff;
    margin-right: 4px;
    font-size: 15px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 42px;
    margin-right: 20px;
    margin-top: 15px;
    color: var(--main-color);
    display: inline-block;
    transition: 0.2s;
}

.social-icons a:hover {
    color: var(--main-color);
    transform: translateY(-7px);
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    /* background: #ffffff16; */
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 16px;
    border-radius: 6px;
}

form button {
    display: block;
    width: fit-content;
    padding: 14px;
    border: 0px;
    margin: auto;
    width: 150px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 6px;
    justify-content: center;
    background: var(--main-color);
    color: var(--bg-color);
    cursor: pointer;
}

#msg {
    color: var(--main-color);
    margin-top: 40px;
    display: block;
}

#footer {
    background: #ffffff16;
    padding: 10px;
    justify-content: center;
    text-align: center;
    font-size: small;
}


/* media query  */

@media only screen and (max-width: 988px) {
    .header-text h1 {
        font-size: 3rem;
        margin-top: 30%;
    }
    .header-text {
        font-size: 24px;
    }
    .btn {
        font-size: 16px;
        width: 160px;
        height: 40px;
    }
}

@media only screen and (max-width: 698px) {
    h3 {
        font-weight: 500;
        font-size: 30px;
    }
    .social-icons a {
        font-size: 28px;
        margin-right: 12px;
    }
    .contact-left p,
    .contact-left p i {
        font-size: 12px;
    }
    form button {
        font-size: 12px;
    }
    nav ul li {
        margin: 4px 8px;
    }
    nav ul li a {
        font-size: 14px;
    }
}

@media only screen and (max-width:495px) {
    .about-col1,
    .about-col2 {
        flex-basis: 100%;
    }
    h3 {
        text-align: center;
    }
    #about {
        padding-bottom: 0;
    }
    .contact-left,
    .contact-right {
        flex-basis: 100%;
    }
    .contact-left p,
    .social-icons {
        text-align: center;
        margin-top: 5px;
    }
    .social-icons a {
        margin: 5px;
    }
    #footer {
        font-size: 10px;
        letter-spacing: 0.5px;
    }
}

@media only screen and (max-width:425px) {
    #header {
        background-image: url("bg-M.png");
    }
}

@media only screen and (max-width:375px) {
    .header-text h1 {
        margin-top: 50%;
        line-height: normal;
    }
    .header-text {
        font-size: 16px;
    }
    .fa-bars {
        position: absolute;
        right: 25px;
    }
    nav {
        background-color: var(--main-color);
        height: 50px;
    }
    nav .fa-solid {
        display: block;
        font-size: 25px;
        color: var(--bg-color);
    }
    nav ul {
        position: fixed;
        top: 0;
        right: -200px;
        background-color: var(--main-color);
        opacity: 0.97;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li {
        display: block;
        margin: 25px;
    }
    nav ul li a {
        color: var(--bg-color);
        font-weight: 550;
    }
    nav ul .fa-solid {
        position: absolute;
        top: 13px;
        right: 28px;
        cursor: pointer;
    }
    .about-col2 p {
        font-size: 14px;
    }
    .sub-content {
        font-size: 14px;
    }
}